﻿@model MvcApplication1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NameUsu)
                @Html.TextBoxFor(m => m.NameUsu)
            </li>
            <li>
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Fecha)
                @Html.TextBoxFor(m => m.Fecha)
            </li>
            <li>
                <!--
                Html.RadioButton("TipoUsuario","No Premium")
                Html.RadioButton("TipoUsuario", "Premium")-->
                @Html.LabelFor(m => m.TipoUsuario)
                @Html.DropDownListFor(m=> m.TipoUsuario, new SelectList(Enum.GetValues(typeof(QuaverGenNHibernate.Enumerated.P3.TipoEnum))))
                <!--Html.CheckBoxFor()-->
            </li>
 
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
