﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Quaver</title>
        <link href="~/quaver_logo.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/estilo.css")
        @Scripts.Render("~/bundles/modernizr")
        

    </head>
    <body>
        <header>
            <div class="content-wrapper">

                <div class="float-left">
                    <h1><img src="~/Images/logo.png" width="200" height="200"></h1>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
             
                <div class="float-right">
                    
                </div>
                    <nav>
                        <ul id="menu">
                            @if (Request.IsAuthenticated){
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Explorar", "Buscar", "Cancion")</li>
                                <li>@Html.ActionLink("Tu música", "Musica", "Home")</li>
                                <li class="usu">@Html.ActionLink("@"+User.Identity.Name, "Perfil", "Usuario", routeValues: new { User.Identity.Name }, htmlAttributes: null)</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: null)</li>
                                <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: null)</li>
                            }
                        </ul>
                    </nav>
                

               
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Quaver</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
