﻿@model QuaverGenNHibernate.EN.P3.CancionEN

@{
    ViewBag.Title = "Añadir canción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Añadir Canción</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CancionEN</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genero)
            @Html.ValidationMessageFor(model => model.Genero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duracion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duracion)
            @Html.ValidationMessageFor(model => model.Duracion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Min_cancion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Min_cancion)
            @Html.ValidationMessageFor(model => model.Min_cancion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Letra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Letra)
            @Html.ValidationMessageFor(model => model.Letra)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Playlist)
        </div>
       
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Musica", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
