﻿@model IEnumerable<QuaverGenNHibernate.EN.P3.CancionEN>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<div class="principal">
    @if (Model != null)
    {

        foreach (var item in Model)
        {
            var j = item.Id;

            <div class="eventos1">


                <div class="text-evento">
                    <p><strong>Nombre: </strong>@Html.DisplayFor(modelItem => item.Nombre)</p>
                    <p><strong>Artista: </strong>@Html.DisplayFor(modelItem => item.Artistas)</p>
                    <p><strong>Genero: </strong>@Html.DisplayFor(modelItem => item.Genero)</p>
                    <p><strong>Duracion:  </strong>@Html.DisplayFor(modelItem => item.Duracion)</p>
                </div>
            </div>
        }
    }

    <div class="lateral-derecho">
        <div id="calendario" class="calendario">

            <h1>Búsqueda avanzada</h1>

            @using (Html.BeginForm("Busqueda_Avanzada", "Cancion", FormMethod.Get))
            {


                <p class="p-busqueda">Nombre cancion</p>
                <p class="input-busqueda">@Html.TextBox("nombre")</p>
                <p class="p-busqueda">Artista</p>
                <p class="input-busqueda">@Html.TextBox("artista")</p>
                <input class="boton-busqueda" type="submit" value="Buscar Cancion" />

            }

        </div>
    </div>








</div>