﻿@model IEnumerable<QuaverGenNHibernate.EN.P3.CancionEN>

@{
    ViewBag.Title = "Búsqueda avanzada";
}



<div class="principal">

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="eventos1">

                <div class="text-evento">
                    <h1>@Html.DisplayFor(modelItem => item.Nombre)</h1>
                    <p><strong>Nombre: </strong>@Html.DisplayFor(modelItem => item.Nombre)</p>
                    <p><strong>Artista: </strong>@Html.DisplayFor(modelItem => item.Artista)</p>
                    <p><strong>Genero: </strong>@Html.DisplayFor(modelItem => item.Genero)</p>
                    <p><strong>Duracion: </strong>@Html.DisplayFor(modelItem => item.Duracion)</p>

                </div>

            </div>


        }
    }

    <div class="lateral-derecho">
        <div id="calendario" class="calendario">

            <h1>Búsqueda avanzada</h1>

            @using (Html.BeginForm("Busqueda_Avanzada", "Musica", FormMethod.Get))
            {


                <p class="p-busqueda">Nombre de la cancion</p>
                <p class="input-busqueda">@Html.TextBox("nombre")</p>
                <p class="p-busqueda">Artista</p>
                <p class="input-busqueda">@Html.TextBox("artista")</p>
                <input class="boton-busqueda" type="submit" value="Buscar evento" />

            }


        </div>
    </div>








</div>

