﻿@model IEnumerable<QuaverGenNHibernate.EN.P3.UsuarioEN>

@{
    ViewBag.Title = "Amigos";
}

<h2>Amigos</h2>

<p>
    <span class="apuntarse">@Html.ActionLink("Anyadir Amigo", "Anyadir_amigo", "Usuario", routeValues: new { User.Identity.Name }, htmlAttributes: null)</span>
</p>
@if (Model != null)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>


        }
    </table>
}
else
{
    <p><strong>TODAVÍA NO TIENES AMIGOS, AÑADE ALGUNOS!!</strong></p>
}


