﻿@model IEnumerable<QuaverGenNHibernate.EN.P3.UsuarioEN>
@{
    ViewBag.Title = "Anyadir amigo";

}

<h2>Añadir amigo</h2>


@if (Model != null)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.ActionLink("Añadir", "Anyadir_amigo_al_usuario", new { name = item.Nombre_usuario })
                </td>
            </tr>


        }


    </table>

}