﻿@model QuaverGenNHibernate.EN.P3.UsuarioEN

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UsuarioEN</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellidos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellidos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contrasenya)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contrasenya)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_nac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_nac)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
