﻿@model QuaverGenNHibernate.EN.P3.UsuarioEN

@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil</h2>

<div class="principal">
    <div class="eventos1">


        <!--Cambiar esto por la ruta de la imagen-->
        <div class="text-evento">
            <h1>@Html.DisplayFor(modelItem => Model.Nombre) @Html.DisplayFor(model => model.Apellidos)</h1>
            <br />
            <p><strong>Correo: </strong>@Html.DisplayFor(modelItem => Model.Email)</p>
            <p><strong>Fecha:  </strong>@Html.DisplayFor(modelItem => Model.Fecha_nac)</p>
            <p><strong>Tipo:  </strong>@Html.DisplayFor(modelItem => Model.Tipo_usuario)</p>



            @if (User.Identity.Name == Model.Nombre_usuario)
            {
                <span class="info">@Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ })</span>
                <span class="info">@Html.ActionLink("Borrar", "Delete", new { id = Model.Nombre_usuario }, new { onclick = "return confirm('Seguro que quieres darte de baja " + Model.Nombre_usuario + "');" })</span>
                <span class="apuntarse">@Html.ActionLink("Mis Amigos", "Amigos", "Usuario", routeValues: new { User.Identity.Name }, htmlAttributes: null)</span>
            }
        </div>

    </div>
