﻿


<body>
   
    <!--Menú
    <nav class="navbar navbar-default panel">
        <div class="menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
         
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a class="putavida" href="index.html#gestion">Explorar</a></li>
                    <li role="presentation"><a href="index.html#sesiones">Radio</a></li>
                    <li role="presentation"><a href="index.html#imagenes">Historial</a></li>
                    <li role="presentation"><a href="index.html#audio">Mis datos </a></li>
                </ul>
            </div>
        </div>
    </nav>-->

  
    <!--Botón desplegable
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="Scripts/bootstrap.min.js"></script>

    <div class="contenido">

    <h2>Te recomendamos</h2>
        <div class="recomendaciones">
            <ul class="cancioncejas">
               
               <li><img src="http://images.coveralia.com/audio/i/Izal-Copacabana-Frontal.jpg" width="250px" height="250px"></li>
               
                <li>Copacabana</li>
                <li>Izal</li>
                <li>Copacabana</li>
                <li class="mambo"><a href="javascript:player.play();" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></a></li>
                
                
                   
            </ul>

            <ul class="cancioncejas">

                <li><img src="http://images.coveralia.com/audio/s/Sia-This_Is_Acting-Frontal.jpg" width="250px" height="250px"></li>

                <li>The Greatest</li>
                <li>Sia</li>
                <li>The Greatest</li>
                



            </ul>

        </div>
    </div>

  

    <div class="reproductor">
           

            <script src="Scripts/reproductor.js"></script>
            <script src="Scripts/rep.js"></script>

                 <audio id="player" class="color" controls></audio>
                    <div class="col-md-6 col-md-offset-3">



                        <div class="tcenter">
                            <a href="javascript:backSong();" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i></a>
                            <a href="javascript:player.load();" class="btn btn-default"><i class="glyphicon glyphicon-stop"></i></a>
                           <a href="javascript:player.play();" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></a>
                            <a href="javascript:player.pause();" class="btn btn-default"><i class="glyphicon glyphicon-pause"></i></a>
                            <a href="javascript:nextSong();" class="btn btn-default"><i class="glyphicon glyphicon-forward"></i></a>
                        </div> <!-- /.tcenter -->

                  

                    </div> <!-- /.col-mid -->

    

        </div>


</body>




  </body>
</html>


