﻿@model IEnumerable<QuaverGenNHibernate.EN.P3.CancionEN>

@{
    ViewBag.Title = "Tu música";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tu Música</h2>

<span class="apuntarse">@Html.ActionLink("Añadir canción", "Anyadir_cancion", "Cancion")</span>


@if (Model != null) {
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>
}else{
    <p><strong>TODAVÍA NO TIENES CANCIONES, AÑADE ALGUNA!!</strong></p>
}